::placeholder{
    font-weight: lighter;
    opacity: 0.5;

}

.titulo {
    font-size: 6rem;
    font-weight: lighter;
    color: rgb(218, 182, 220);
    opacity: 0.5;
}

#bar:focus {
    outline: none;
}

#bar {
    padding: 8px 12px;
    align-items: center;
    border: none;
    border-bottom: 1px solid #ccc;
    height: 5rem;
    font-size: 2.5rem;
    font-weight: lighter;
}

.general{
    box-shadow: 10px 10px 16px -2px rgba(0,0,0,0.53);
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    border-bottom: 1px solid #ccc;
    align-items: center;
    cursor: pointer;
    white-space: normal;
}

.task-text {
    font-size: 2.5rem;
    font-weight: lighter;
}

.task-delete {
    color: red;
    font-weight: lighter;
    font-size: 2rem;
    margin-left: 10px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}

.task-item:hover .task-delete {
    opacity: 1;
    visibility: visible;
}

.task-item:hover .task-delete {
    color: darkred;
}

.items-left {
    padding-left: 0.5rem;
    font-weight: lighter;
    opacity: 0.5;
}